#messageArea.row
.col-md-12
  #chat.chat
  form#messageForm
    .form-group
      label Enter Message
      textarea#message.form-control
      br
      input#submitMessage.btn.btn(type='submit', value='Send Message')
  #userFormArea.row
    .col-md-12
      form#userForm
        .form-group
          label Enter Username
          input#username.form-control
          br
          input#submitUser.btn.btn(type='submit', value='Login')